<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="footer blog-footer" th:fragment="footer-fragment">
    <div class="blog-text-center">
        &copy;
        <a th:text="${configurations.get('footerAbout')}">your singal blog.</a>  &nbsp;   • &nbsp;
        Powered by <a href="https://github.com/ZHENFENG13" target="_blank" th:text="${configurations.get('footerCopyRight')}">2019 一知愚</a><br/>
        ICP <a th:text="${configurations.get('footerICP')}">ICP 皖ICP备18008851号-1</a>
        <span class="ft-warn">&heartsuit;</span>
        Theme <a rel="friend" href="https://github.com/since86" target="_blank"> Amaze</a> by <a href="https://github.com/spiritree" target="_blank">spiritree</a> & <a href="https://github.com/since86" target="_blank">Jinyu Ni</a>
    </div>
</footer>
</html>